@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    height: 100vh;
    width: 100vw;
    font-family: "Raleway";
    background-color: #F4EEDD;
    margin: 0 auto;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

img {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/12/05/849914/efe3db6879eac718e41747fa36c2ea4d-1000.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    height: 45vh;
    width: 30vw;
}

main {
    height: 90vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30vw;
}
.column {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.list {
    height: 300vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    border-left: 1px solid black;
}

.place {
    width: 10vw;
}

.row {
    width: 16vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.x {
    margin-left: 20px;
    margin-top: 10px;
}

.x:hover{
    color: red;
}

.buttons {
    margin-left: 20px;
    font-size: 18px;
    background-color: green;
    color: aqua;
}

.buttons:hover {
    background-color: aqua;
    color: green;
}

.visitedInputBar {
    width: 40px;
}

.listInputBar {
    width: 500px;
    top: 65vh;
    left: 30px;
    position: absolute;
}

#addButton {
    top: 60vh;
    left: 0;
    position: absolute;
}

#saveButton {
    top: 65vh;
    left: 550px;
    position: absolute;
}

hr {
    border-bottom: 1px solid black;
}